.form {
  max-width: 360px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-size: 16px;
}

.form input[type='number'] {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: border 250ms ease-in-out;
}

.form input[type='number']:hover,
.form input[type='number']:focus {
  border: 1px solid #000;
}

.form fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 16px 48px 8px;
  margin: 0;
  margin-bottom: 24px;
  transition: border 250ms ease-in-out;
}

.form fieldset:hover,
.form fieldset:focus {
  border: 1px solid #000;
}

.fieldset-content {
  display: flex;
  align-items: center;
  gap: 48px;
}

.form legend {
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: left;
}

.form fieldset label {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 0;
  cursor: pointer;
}

.form fieldset input[type='radio'] {
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

.form button {
  display: block;
  width: 100%;
  height: 40px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.form button:hover {
  background-color: #6c8cff;
}
